{%- liquid
  unless grid_item_width
    assign grid_item_width = 'small--one-third medium-up--one-sixth'
  endunless

  assign collection_link = collection.url
  if block.settings.title != blank
    assign title_output = block.settings.title
  else
    if collection.empty?
      assign title_output = 'sections.featured_collections.empty' | t
      assign collection_link = '/collections/all'
    else
      assign title_output = collection.title | escape
    endif
  endif
-%}
{% style %}
  .grid-item {
    width: calc(100% / 6);
  }

  .grid-item img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    transition: transform .8 ease-in;
    border-radius: {{ block.settings.collection_image_border_radius }}%;
  }

  .grid-item a {
    text-decoration: none;
  }

  .grid-item img:hover {
    transform: translateY(-5px);
  }

  .grid-item span {
    text-align: center;
    display: block;
    color: #000000;
  }

  @media only screen and (max-width: 768px) {
    [data-view="4-2"] .grid-item {
        flex: 0 0 50%;
    }
    .collections-featured {
      padding: 0 1rem;
    }
  }
{% endstyle %}
<div class="grid-item">
  <a href="{{ collection_link }}" class="collection-item">

    {%- liquid
      if block.settings.image_cover != blank
        assign collection_image = block.settings.image_cover
      else
        if settings.collection_grid_image == 'collection' and collection.image
          assign collection_image = collection.image
          assign using_collection_image = true
        else
          assign collection_image = collection.products.first.featured_media.preview_image
          assign using_collection_image = false
        endif
      endif
    -%}

    <div class="collection-image-wrap collection-image--{{ settings.collection_grid_shape }}">
      <div class="collection-image{% if using_collection_image %} collection-image--is-collection{% endif %} image-wrap">
        {%- assign img_url = collection_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img
          class="lazyload"
          data-src="{{ img_url }}"
          data-aspectratio="{{ collection_image.aspect_ratio }}"
          data-widths="[720, 900, 1080]"
          data-sizes="auto"
          alt="{{ collection_image.alt | escape }}">
        <noscript>
          <img class="lazyloaded"
            src="{{ collection_image | img_url: '400x' }}"
            alt="{{ collection_image.alt | escape }}">
        </noscript>
      </div>
    </div>
    <span class="collection-item__title">{{ title_output }}</span>
  </a>
</div>